body {
    background-color: rgb(100, 252, 100);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant-ligatures: normal;
    padding: 0px;
    margin: 0px;
}

header {
    background-color: #e2e2e2;
    margin: 0px;
    padding: 0px 50px;
    border-bottom: 5px solid #2d2d2d;
}

header h1 {
    margin-top: 0;
    padding-top: 10px;
    margin-bottom: 0px;
}

nav {
    background-color: #c9c9c9;
    margin: 0px;
    padding: 0px 50px;
    border-bottom: 5px solid #2d2d2d;
}

.logo {
    display: none;
}

nav.menu ul {
    vertical-align: middle;
    margin: 0;
    padding: 0;
    display: inline;
}

nav.menu ul li {
    display: block;
    padding: 7px 13px;
}

nav.menu ul li:hover {
    background-color: #bbbbbb;
}

nav.menu ul li a,
nav.menu ul li a:hover {
    color: magenta;
    /* color: rgb(12, 144, 12); */
    text-decoration: underline;
}

main {
    margin: auto 50px;
}

h2,
h3,
h4,
h5,
h6 {
    border-bottom: 2px hotpink dashed;
}

.intro {
    font-size: 1.2em;
}

.subtitle {
    margin-top: 10px;
}

.subtitle,
.profile-pic {
    font-weight: bold;
    font-style: italic;
    font-size: 1.1em;
}

a:link,
a:visited {
    font-weight: bold;
    color: hotpink;
    text-decoration-style: dashed;
}

a:hover {
    text-decoration-style: solid;
    color: magenta;
}

.centered {
    text-align: center;
}

.profile-pic {
    background-color: pink;
    padding: 10px;
    text-align: center;
    margin: 20px 0px 20px 20px;
    padding: 15px;
    border: dashed magenta 3px;
    border-radius: 40px;
}

.profile-pic img {
    border-radius: 40px;
}

.profile-pic,
.profile-pic img {
    max-width: 100%;
}

ul.alternating {
    list-style: none;
}

ul.alternating li::before {
    content: "\2022";
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-size: 2em;
}

ul.alternating li:nth-child(even)::before {
    color: magenta;
}

ul.alternating li:nth-child(odd)::before {
    color: hotpink;
}

@media (min-width:900px) {
    nav {
        position: sticky;
        top: 0;
    }

    .logo {
        display: inline;
        vertical-align: middle;
        padding: 5px;
    }

    nav.menu ul {
        padding: 13px 13px 13px 0;
    }

    nav.menu ul li {
        display: inline;
        padding: 13px;
    }

    .profile-pic {
        float: right;
        max-width: 50%;
        border-width: 4px;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        width: 40%;
    }
}