* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f8bb13;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

div.links-container {
    height: 100vh;
    background-color: #f8bb13;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

div.links-container ul {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    list-style-type: none;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

div.links-container ul li {
    flex-grow: 1;
    background-color: #0b9440;
    padding: 20px;
}

div.links-container ul li:nth-child(even) {
    background-color: #0187f5;
}

div.links-container ul li.smaller {
    flex-grow: 0;
    background-color: #f8bb13;
}

div.links-container ul li a,
div.links-container ul li a:visited {
    /* 
        NOTE TO SELF:
        This article looks like it'll help on the quest to make a link the size of its container:
        https://www.labnol.org/code/19639-turn-div-clickable-link
    */
    font-size: 5rem;
    color: #fdfdfd;
    text-decoration: none;
    font-weight: bold;
}
p.subtitle {
    margin-top: 25px;
    font-size: 2em;
}

div.links-container ul li.smaller a,
div.links-container ul li.smaller a:visited {
    font-size: 1em;
    color: black;
    text-decoration: underline;
    font-weight: normal;
    display: inline;
}

@media (max-width: 900px) {
    div.links-container ul li a,
    div.links-container ul li a:visited {
        font-size: 3.5rem;
    }
}

@media (max-width: 600px) {
    div.links-container ul li a,
    div.links-container ul li a:visited {
        font-size: 2.5rem;
    }
    p.subtitle {
        font-size: 1.8em;
    }
}
